.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-height: 100vh;

  > div {
    overflow: auto;
  }
}

.spellList {
  padding: 2rem;
}

.spellDescription {
  flex: 1;
  padding: 2rem 10rem;
}
